@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');

body {
    width: 40%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    font-size: 0.75rem;
    height: 40px;
    text-decoration: none;
    font-family: "Noto Serif TC", serif;
    color: white;
    padding-block: 5px;
    padding-inline: 10%;
    line-height: 40px;
    border-radius: 5px;
    margin-block: 10px;
    border: none;
}