@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');

body {
    font-family: "Noto Serif TC", serif;
    text-align: center;
    padding: 20px;
}

.search {
    width: 75%;
    height: 1.5rem;
    margin: auto;
    background-color: #E2C3C9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 2px;
}

input {
    width: 100%;
    height: 1.2rem;
    background-color: #FFFFFF;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 3px;
    border: none;
    outline: none;
    font-family: "Noto Serif TC", serif;
}

#unlock-btn {
    width: 70px;
    background-color: #E2C3C9;
    border: none;
    color: #FFFFFF;
    font-family: "Noto Serif TC", serif;
    font-size: 0.9rem;
    text-align: center;
    align-items: center;
}

.filter-container {
    margin-block: 10px;
    text-align: left;
}

.filter-btn {
    font-family: "Noto Serif TC", serif;
    font-size: 0.7rem;
    margin: 3px;
    padding-inline: 5px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #E2C3C9;
}

.filter-btn.active {
    font-family: "Noto Serif TC", serif;
    color: #C995A2;
    border-radius: 3px;
    background-color: rgba(226, 195, 201, 0.1);
}

th {
    width: 10%;
}

th p {
    color: #C995A2;
    font-family: "Noto Serif TC", serif;
    font-size: 0.8rem;
}

.item hr {
    color: #BFC6CC;
}

.book {
    text-align: left;
    line-height: 1rem;
    color: #E2C3C9;
    font-size: 0.8rem;
}

.book span {
    color: #666666;
    font-size: 0.8rem
}

.hidden {
    display: none;
}

.locked {
    color: #666666;
    pointer-events: none;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1rem;
}

.locked:visited {
    color: #31405F;
}